@{
    ViewData["Title"] = "Hem";
}
<style> 
   body{
   background-color: mediumblue;
   } 
   .text-center{
       color: white; 
       text-align: center;
       font-family: "Century Schoolbook"
       
   }
  


</style>
<div class="text-center">
    <h1 class="display-4">Välkommen till Häktet</h1>
    <p>Här finns register på Sveriges grövsta brottslingar med tillhörande brott och häkte</a>.</p>
</div>

<div class="bild">
    
    

</div>
